USE [CSIS304KShe0247nr]
GO
/****** Object:  User [MNSTATE\fk8871po]    Script Date: 12/9/2019 10:50:35 PM ******/
CREATE USER [MNSTATE\fk8871po] FOR LOGIN [MNSTATE\fk8871po] WITH DEFAULT_SCHEMA=[MNSTATE\he0247nr]
GO
/****** Object:  User [MNSTATE\he0247nr]    Script Date: 12/9/2019 10:50:35 PM ******/
CREATE USER [MNSTATE\he0247nr] FOR LOGIN [MNSTATE\he0247nr] WITH DEFAULT_SCHEMA=[MNSTATE\he0247nr]
GO
/****** Object:  User [MNSTATE\ww2181vf]    Script Date: 12/9/2019 10:50:35 PM ******/
CREATE USER [MNSTATE\ww2181vf] FOR LOGIN [MNSTATE\ww2181vf] WITH DEFAULT_SCHEMA=[MNSTATE\ww2181vf]
GO
ALTER ROLE [db_owner] ADD MEMBER [MNSTATE\he0247nr]
GO
ALTER ROLE [db_owner] ADD MEMBER [MNSTATE\ww2181vf]
GO
/****** Object:  Schema [MNSTATE\he0247nr]    Script Date: 12/9/2019 10:50:35 PM ******/
CREATE SCHEMA [MNSTATE\he0247nr]
GO
/****** Object:  Schema [MNSTATE\ww2181vf]    Script Date: 12/9/2019 10:50:35 PM ******/
CREATE SCHEMA [MNSTATE\ww2181vf]
GO
/****** Object:  Table [MNSTATE\he0247nr].[HOTEL]    Script Date: 12/9/2019 10:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MNSTATE\he0247nr].[HOTEL](
	[HOTEL_CODE] [int] NOT NULL,
	[HOTEL_NAME] [varchar](30) NULL,
	[HOTEL_ADDRESS] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[HOTEL_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MNSTATE\he0247nr].[ROOM]    Script Date: 12/9/2019 10:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MNSTATE\he0247nr].[ROOM](
	[ROOM_ID] [int] NOT NULL,
	[HOTEL_CODE] [int] NULL,
	[ROOM_FLOOR] [varchar](15) NULL,
	[ROOM_TYPE] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ROOM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [MNSTATE\he0247nr].[viewFindLuxuryRoom]    Script Date: 12/9/2019 10:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [MNSTATE\he0247nr].[viewFindLuxuryRoom] as
(select h.HOTEL_NAME,r.ROOM_ID,r.ROOM_FLOOR,r.ROOM_TYPE from ROOM r join HOTEL h on r.HOTEL_CODE=h.HOTEL_CODE
where ROOM_TYPE='LUXURY')
GO
/****** Object:  Table [MNSTATE\he0247nr].[EXHIBIT]    Script Date: 12/9/2019 10:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MNSTATE\he0247nr].[EXHIBIT](
	[EXHIBIT_ID] [int] NOT NULL,
	[EXHIBIT_NAME] [varchar](30) NULL,
	[AREA_CODE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EXHIBIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MNSTATE\he0247nr].[AREA]    Script Date: 12/9/2019 10:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MNSTATE\he0247nr].[AREA](
	[AREA_CODE] [int] NOT NULL,
	[LOCATION_ID] [int] NULL,
	[AREA_NAME] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[AREA_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [MNSTATE\he0247nr].[vwExhibitInfo]    Script Date: 12/9/2019 10:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [MNSTATE\he0247nr].[vwExhibitInfo] as
(select E.EXHIBIT_ID,E.EXHIBIT_NAME AS'EXHIBIT SUBJECT',A.AREA_NAME FROM EXHIBIT E JOIN AREA A ON A.AREA_CODE=E.AREA_CODE)
GO
/****** Object:  Table [MNSTATE\he0247nr].[DONATION]    Script Date: 12/9/2019 10:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MNSTATE\he0247nr].[DONATION](
	[RECIEPT_NUM] [varchar](6) NOT NULL,
	[DONOR_ID] [int] NULL,
	[AMOUNT_DONATED] [numeric](18, 0) NULL,
	[AREA_CODE] [int] NULL,
	[CAMP_TITLE] [varchar](20) NULL,
	[RECEIPT_DATE] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECIEPT_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [MNSTATE\he0247nr].[vwSeeTotalByCampaign]    Script Date: 12/9/2019 10:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [MNSTATE\he0247nr].[vwSeeTotalByCampaign] as
(select camp_title,sum(amount_donated) as 'Total amount Recieved' from DONATION group by CAMP_TITLE)



GO
/****** Object:  View [MNSTATE\he0247nr].[vwLodgingInfo]    Script Date: 12/9/2019 10:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  view [MNSTATE\he0247nr].[vwLodgingInfo] as 

(select count(room_id) as 'Total Rooms',count(distinct hotel_code) as 'Total Hotels',count(distinct room_type) as 'Room Variety' from ROOM)




GO
/****** Object:  View [MNSTATE\he0247nr].[vwDonationStat]    Script Date: 12/9/2019 10:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [MNSTATE\he0247nr].[vwDonationStat] as 
(select max(amount_donated) as 'Highest Donation',min(amount_donated) as 'lowest Donation',ROUND(avg(amount_donated),-2) as 'Average Donation' from DONATION)
GO
/****** Object:  Table [MNSTATE\he0247nr].[CAMPAIGN]    Script Date: 12/9/2019 10:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MNSTATE\he0247nr].[CAMPAIGN](
	[CAM_CODE] [varchar](10) NOT NULL,
	[CAM_TITLE] [varchar](20) NULL,
	[CAM_START_DATE] [date] NULL,
	[CAM_END_DATE] [date] NULL,
	[TOTAL_AMOUNT_COLLECTED] [numeric](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[CAM_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MNSTATE\he0247nr].[DONOR]    Script Date: 12/9/2019 10:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MNSTATE\he0247nr].[DONOR](
	[DONOR_ID] [int] NULL,
	[DONOR_NAME] [varchar](20) NULL,
	[DONOR_ADD] [varchar](40) NULL,
	[DONOR_PH] [varchar](12) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [MNSTATE\he0247nr].[HOURS]    Script Date: 12/9/2019 10:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MNSTATE\he0247nr].[HOURS](
	[HOURS_SUBMISSION_ID] [int] NOT NULL,
	[VOL_ID] [int] NULL,
	[DATE_OF_VOL] [date] NULL,
	[TIME_SPENT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HOURS_SUBMISSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MNSTATE\he0247nr].[LOCATION]    Script Date: 12/9/2019 10:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MNSTATE\he0247nr].[LOCATION](
	[LOCATION_ID] [int] NULL,
	[LOCATION_NAME] [varchar](1) NULL,
	[LOCATION_OPEN_STATUS] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [MNSTATE\he0247nr].[OPERATING_ACT]    Script Date: 12/9/2019 10:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MNSTATE\he0247nr].[OPERATING_ACT](
	[OPT_ACT_ID] [varchar](10) NOT NULL,
	[AREA_CODE] [int] NULL,
	[ACT_YEAR] [int] NULL,
	[ACT_EVENT] [numeric](18, 0) NULL,
	[ACT_LODGE] [numeric](18, 0) NULL,
	[ACT_FOOD] [numeric](18, 0) NULL,
	[ACT_TRANS] [numeric](18, 0) NULL,
	[ACT_MISC] [numeric](18, 0) NULL,
	[TOTAL_ACT] [numeric](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[OPT_ACT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MNSTATE\he0247nr].[OPERATING_EST]    Script Date: 12/9/2019 10:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MNSTATE\he0247nr].[OPERATING_EST](
	[OPT_EST_ID] [varchar](10) NOT NULL,
	[AREA_CODE] [int] NULL,
	[EST_YEAR] [int] NULL,
	[EST_EVENT] [numeric](18, 0) NULL,
	[EST_LODGE] [numeric](18, 0) NULL,
	[EST_FOOD] [numeric](18, 0) NULL,
	[EST_TRANS] [numeric](18, 0) NULL,
	[EST_MISC] [numeric](18, 0) NULL,
	[TOTAL_EST] [numeric](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[OPT_EST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MNSTATE\he0247nr].[PRESIDENT]    Script Date: 12/9/2019 10:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MNSTATE\he0247nr].[PRESIDENT](
	[AREA_CODE] [int] NULL,
	[VOL_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [MNSTATE\he0247nr].[SECRETARY]    Script Date: 12/9/2019 10:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MNSTATE\he0247nr].[SECRETARY](
	[AREA_CODE] [int] NULL,
	[VOL_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [MNSTATE\he0247nr].[VICE_PRESIDENT]    Script Date: 12/9/2019 10:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MNSTATE\he0247nr].[VICE_PRESIDENT](
	[AREA_CODE] [int] NULL,
	[VOL_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [MNSTATE\he0247nr].[VOLUNTEER]    Script Date: 12/9/2019 10:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MNSTATE\he0247nr].[VOLUNTEER](
	[VOL_ID] [int] NOT NULL,
	[AREA_CODE] [int] NULL,
	[EXHIBIT_ID] [int] NULL,
	[VOL_NAME] [varchar](30) NULL,
	[VOL_AGE] [int] NULL,
	[VOL_YRS] [int] NULL,
	[VOL_ADDRESS] [varchar](30) NULL,
	[VOL_PH_NUMBER] [varchar](30) NULL,
	[ROOM_CODE] [int] NULL,
	[VOL_TYPE] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[VOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MNSTATE\he0247nr].[YEARLY_BUDGET]    Script Date: 12/9/2019 10:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MNSTATE\he0247nr].[YEARLY_BUDGET](
	[YRS_BUD_ID] [varchar](10) NOT NULL,
	[AREA_CODE] [int] NULL,
	[PRESIDENT_ID] [int] NULL,
	[BUD_REQUESTED] [numeric](18, 0) NULL,
	[BUD_ISSUED] [numeric](18, 0) NULL,
	[BUD_ISSUE_DATE] [date] NULL,
	[ACTUAL_EXPEN] [int] NULL,
	[DIFF_IN_EST] [numeric](18, 0) NULL,
	[SURPLUS_BUDGET] [numeric](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[YRS_BUD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [MNSTATE\he0247nr].[AREA] ([AREA_CODE], [LOCATION_ID], [AREA_NAME]) VALUES (201, 1, N'STEM')
INSERT [MNSTATE\he0247nr].[AREA] ([AREA_CODE], [LOCATION_ID], [AREA_NAME]) VALUES (202, 2, N'STEM')
INSERT [MNSTATE\he0247nr].[AREA] ([AREA_CODE], [LOCATION_ID], [AREA_NAME]) VALUES (203, 3, N'STEM')
INSERT [MNSTATE\he0247nr].[CAMPAIGN] ([CAM_CODE], [CAM_TITLE], [CAM_START_DATE], [CAM_END_DATE], [TOTAL_AMOUNT_COLLECTED]) VALUES (N'a1b', N'We together', CAST(N'2019-12-12' AS Date), CAST(N'2019-12-22' AS Date), CAST(800 AS Numeric(18, 0)))
INSERT [MNSTATE\he0247nr].[CAMPAIGN] ([CAM_CODE], [CAM_TITLE], [CAM_START_DATE], [CAM_END_DATE], [TOTAL_AMOUNT_COLLECTED]) VALUES (N'a2b', N'christmas Magic', CAST(N'2018-12-12' AS Date), CAST(N'2018-12-22' AS Date), CAST(500 AS Numeric(18, 0)))
INSERT [MNSTATE\he0247nr].[CAMPAIGN] ([CAM_CODE], [CAM_TITLE], [CAM_START_DATE], [CAM_END_DATE], [TOTAL_AMOUNT_COLLECTED]) VALUES (N'a3b', N'PlanksGiving', CAST(N'2019-12-12' AS Date), CAST(N'2019-12-22' AS Date), CAST(1200 AS Numeric(18, 0)))
INSERT [MNSTATE\he0247nr].[DONATION] ([RECIEPT_NUM], [DONOR_ID], [AMOUNT_DONATED], [AREA_CODE], [CAMP_TITLE], [RECEIPT_DATE]) VALUES (N'AA100', 101, CAST(500 AS Numeric(18, 0)), 201, N'We together', N'10/10/2019')
INSERT [MNSTATE\he0247nr].[DONATION] ([RECIEPT_NUM], [DONOR_ID], [AMOUNT_DONATED], [AREA_CODE], [CAMP_TITLE], [RECEIPT_DATE]) VALUES (N'AA101', 102, CAST(100 AS Numeric(18, 0)), 202, N'christmas Magic', N'10/10/2018')
INSERT [MNSTATE\he0247nr].[DONATION] ([RECIEPT_NUM], [DONOR_ID], [AMOUNT_DONATED], [AREA_CODE], [CAMP_TITLE], [RECEIPT_DATE]) VALUES (N'AA102', 103, CAST(200 AS Numeric(18, 0)), 203, N'PlanksGiving', N'10/10/2017')
INSERT [MNSTATE\he0247nr].[DONOR] ([DONOR_ID], [DONOR_NAME], [DONOR_ADD], [DONOR_PH]) VALUES (101, N'MARY SHELTON', N'14TH STREET SOUTH, BLUEBELL, ALABAMA', N'6624878975')
INSERT [MNSTATE\he0247nr].[DONOR] ([DONOR_ID], [DONOR_NAME], [DONOR_ADD], [DONOR_PH]) VALUES (102, N'KEITH SHELTON', N'15TH STREET SOUTH, ETHESVELLE,ALABAMA', N'6624976272')
INSERT [MNSTATE\he0247nr].[DONOR] ([DONOR_ID], [DONOR_NAME], [DONOR_ADD], [DONOR_PH]) VALUES (103, N'CHANLEY RAINEY', N'19TH STREET S,BLUEBELL,ALABAMA', N'662387954')
INSERT [MNSTATE\he0247nr].[EXHIBIT] ([EXHIBIT_ID], [EXHIBIT_NAME], [AREA_CODE]) VALUES (101, N'MATH', 201)
INSERT [MNSTATE\he0247nr].[EXHIBIT] ([EXHIBIT_ID], [EXHIBIT_NAME], [AREA_CODE]) VALUES (102, N'PHYSIC', 202)
INSERT [MNSTATE\he0247nr].[EXHIBIT] ([EXHIBIT_ID], [EXHIBIT_NAME], [AREA_CODE]) VALUES (103, N'CHEM', 203)
INSERT [MNSTATE\he0247nr].[HOTEL] ([HOTEL_CODE], [HOTEL_NAME], [HOTEL_ADDRESS]) VALUES (1, N'HOTEL DONALDSON', N'367 MIAN STREET FARGO ND')
INSERT [MNSTATE\he0247nr].[HOTEL] ([HOTEL_CODE], [HOTEL_NAME], [HOTEL_ADDRESS]) VALUES (2, N'ELEMENT FARGO', N'361 MAIN STREET , FARGO, ND')
INSERT [MNSTATE\he0247nr].[HOTEL] ([HOTEL_CODE], [HOTEL_NAME], [HOTEL_ADDRESS]) VALUES (3, N'DELTA HOTELS', N'362 MAIN STREET , FARGO, ND')
INSERT [MNSTATE\he0247nr].[HOURS] ([HOURS_SUBMISSION_ID], [VOL_ID], [DATE_OF_VOL], [TIME_SPENT]) VALUES (1, 376272, CAST(N'2019-12-02' AS Date), 5)
INSERT [MNSTATE\he0247nr].[HOURS] ([HOURS_SUBMISSION_ID], [VOL_ID], [DATE_OF_VOL], [TIME_SPENT]) VALUES (2, 376273, CAST(N'2019-12-02' AS Date), 10)
INSERT [MNSTATE\he0247nr].[HOURS] ([HOURS_SUBMISSION_ID], [VOL_ID], [DATE_OF_VOL], [TIME_SPENT]) VALUES (3, 376274, CAST(N'2019-12-02' AS Date), 15)
INSERT [MNSTATE\he0247nr].[PRESIDENT] ([AREA_CODE], [VOL_ID]) VALUES (201, 376272)
INSERT [MNSTATE\he0247nr].[PRESIDENT] ([AREA_CODE], [VOL_ID]) VALUES (202, 376273)
INSERT [MNSTATE\he0247nr].[PRESIDENT] ([AREA_CODE], [VOL_ID]) VALUES (203, 376274)
INSERT [MNSTATE\he0247nr].[ROOM] ([ROOM_ID], [HOTEL_CODE], [ROOM_FLOOR], [ROOM_TYPE]) VALUES (101, 1, N'FIRST', N'STANDARD')
INSERT [MNSTATE\he0247nr].[ROOM] ([ROOM_ID], [HOTEL_CODE], [ROOM_FLOOR], [ROOM_TYPE]) VALUES (102, 1, N'SECOND', N'STANDARD')
INSERT [MNSTATE\he0247nr].[ROOM] ([ROOM_ID], [HOTEL_CODE], [ROOM_FLOOR], [ROOM_TYPE]) VALUES (103, 2, N'FIRST', N'LUXURY')
INSERT [MNSTATE\he0247nr].[SECRETARY] ([AREA_CODE], [VOL_ID]) VALUES (201, 376278)
INSERT [MNSTATE\he0247nr].[SECRETARY] ([AREA_CODE], [VOL_ID]) VALUES (202, 376279)
INSERT [MNSTATE\he0247nr].[SECRETARY] ([AREA_CODE], [VOL_ID]) VALUES (203, 376280)
INSERT [MNSTATE\he0247nr].[VICE_PRESIDENT] ([AREA_CODE], [VOL_ID]) VALUES (201, 376275)
INSERT [MNSTATE\he0247nr].[VICE_PRESIDENT] ([AREA_CODE], [VOL_ID]) VALUES (202, 376276)
INSERT [MNSTATE\he0247nr].[VICE_PRESIDENT] ([AREA_CODE], [VOL_ID]) VALUES (203, 376277)
INSERT [MNSTATE\he0247nr].[VOLUNTEER] ([VOL_ID], [AREA_CODE], [EXHIBIT_ID], [VOL_NAME], [VOL_AGE], [VOL_YRS], [VOL_ADDRESS], [VOL_PH_NUMBER], [ROOM_CODE], [VOL_TYPE]) VALUES (376272, 201, 101, N'WADE FISHER', 25, 1, N'9TH STREET COLUMBUS,MS', N'662-497-6272', 101, N'PRESIDENT')
INSERT [MNSTATE\he0247nr].[VOLUNTEER] ([VOL_ID], [AREA_CODE], [EXHIBIT_ID], [VOL_NAME], [VOL_AGE], [VOL_YRS], [VOL_ADDRESS], [VOL_PH_NUMBER], [ROOM_CODE], [VOL_TYPE]) VALUES (376273, 202, 102, N'ZOE FISHER', 25, 5, N'9TH STREET BLUEBELL,MS', N'662-497-6372', 102, N'PRESIDENT')
INSERT [MNSTATE\he0247nr].[VOLUNTEER] ([VOL_ID], [AREA_CODE], [EXHIBIT_ID], [VOL_NAME], [VOL_AGE], [VOL_YRS], [VOL_ADDRESS], [VOL_PH_NUMBER], [ROOM_CODE], [VOL_TYPE]) VALUES (376274, 203, 103, N'GEORGE FISHER', 25, 9, N'9TH STREET BLUEBELL,MS', N'662-497-6472', 104, N'PRESIDENT')
INSERT [MNSTATE\he0247nr].[YEARLY_BUDGET] ([YRS_BUD_ID], [AREA_CODE], [PRESIDENT_ID], [BUD_REQUESTED], [BUD_ISSUED], [BUD_ISSUE_DATE], [ACTUAL_EXPEN], [DIFF_IN_EST], [SURPLUS_BUDGET]) VALUES (N'FY2001', 201, 376272, CAST(5000 AS Numeric(18, 0)), CAST(4500 AS Numeric(18, 0)), CAST(N'2018-12-03' AS Date), 4500, CAST(500 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)))
INSERT [MNSTATE\he0247nr].[YEARLY_BUDGET] ([YRS_BUD_ID], [AREA_CODE], [PRESIDENT_ID], [BUD_REQUESTED], [BUD_ISSUED], [BUD_ISSUE_DATE], [ACTUAL_EXPEN], [DIFF_IN_EST], [SURPLUS_BUDGET]) VALUES (N'FY2002', 202, 376273, CAST(5000 AS Numeric(18, 0)), CAST(4500 AS Numeric(18, 0)), CAST(N'2018-12-03' AS Date), 4500, CAST(500 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)))
INSERT [MNSTATE\he0247nr].[YEARLY_BUDGET] ([YRS_BUD_ID], [AREA_CODE], [PRESIDENT_ID], [BUD_REQUESTED], [BUD_ISSUED], [BUD_ISSUE_DATE], [ACTUAL_EXPEN], [DIFF_IN_EST], [SURPLUS_BUDGET]) VALUES (N'FY2003', 203, 376274, CAST(5000 AS Numeric(18, 0)), CAST(4500 AS Numeric(18, 0)), CAST(N'2018-12-03' AS Date), 4500, CAST(500 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)))
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CAMPAIGN__57E8C358BD4012DD]    Script Date: 12/9/2019 10:50:35 PM ******/
ALTER TABLE [MNSTATE\he0247nr].[CAMPAIGN] ADD UNIQUE NONCLUSTERED 
(
	[CAM_TITLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [MNSTATE\he0247nr].[HOURS]  WITH CHECK ADD FOREIGN KEY([VOL_ID])
REFERENCES [MNSTATE\he0247nr].[VOLUNTEER] ([VOL_ID])
GO
ALTER TABLE [MNSTATE\he0247nr].[ROOM]  WITH CHECK ADD FOREIGN KEY([HOTEL_CODE])
REFERENCES [MNSTATE\he0247nr].[HOTEL] ([HOTEL_CODE])
GO
/****** Object:  StoredProcedure [MNSTATE\he0247nr].[prc_assign_rooms]    Script Date: 12/9/2019 10:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [MNSTATE\he0247nr].[prc_assign_rooms] @VOL_ID INT,@R_CODE INT
AS
UPDATE VOLUNTEER
SET ROOM_CODE=@R_CODE
WHERE VOL_ID=@VOL_ID
GO
/****** Object:  StoredProcedure [MNSTATE\he0247nr].[prc_display_Admin_info]    Script Date: 12/9/2019 10:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [MNSTATE\he0247nr].[prc_display_Admin_info]


as

print ' Hi every body, This is Wade Kinsella. I was born in BlueBell Alabama.'
print 'I graduated from University of Alabama getting my first Phd in Data Science and cyberSecurity'
print ' Feel free to send me email asking any question you wanna ask . I will definately reply them all at wade.Kinsella@alstate.edu.'



























GO
/****** Object:  StoredProcedure [MNSTATE\he0247nr].[prc_FIND_HOTEL_IN_AREA]    Script Date: 12/9/2019 10:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [MNSTATE\he0247nr].[prc_FIND_HOTEL_IN_AREA] @H_LOCATION nvarchar(30)
AS
SELECT * FROM HOTEL WHERE HOTEL_ADDRESS LIKE'%' + @H_LOCATION + '%'
GO
/****** Object:  StoredProcedure [MNSTATE\he0247nr].[prc_seeTotalAmountDonatedSoFar]    Script Date: 12/9/2019 10:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [MNSTATE\he0247nr].[prc_seeTotalAmountDonatedSoFar] @d_id int
AS
SELECT D.DONOR_ID,D.DONOR_NAME,SUM(DO.AMOUNT_DONATED)AS 'TOTAL AMOUNT DONATED SO FAR'
FROM DONOR D JOIN DONATION DO ON D.DONOR_ID=DO.DONOR_ID
GROUP BY D.DONOR_ID,D.DONOR_NAME
HAVING D.DONOR_ID =@d_id
GO
/****** Object:  StoredProcedure [MNSTATE\he0247nr].[prc_Volunteer_Detail]    Script Date: 12/9/2019 10:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [MNSTATE\he0247nr].[prc_Volunteer_Detail] @v_id nvarchar(30)
AS
SELECT * FROM volunteer WHERE VOL_ID = @v_id

GO
